@media only screen and (max-width: 575px) {
    .image-L {
        padding-top: 13%;
        height: 200px;
    }

    .image-L img {
        height: 100%;
    }

    .feature__image1,
    .feature__image2,
    .feature__image3,
    .feature__image4 {
        flex-direction: column;
        height: 100%;
        width: 90%;
        gap: 3rem;
    }

    #feature__image {
        display: none;
    }

    .feature__txt1,
    .feature__txt3 {
        margin-left: 0px;
        margin-top: 20px;
    }

    .feature__txt4,
    .feature__txt2 {
        margin-right: 0px;
        margin-top: 20px;
    }

    .feature__backgroud__video__container1 {
        width: 80%;
        top: 0%;
        height: 100%;
        max-width: fit-content;
        max-height: fit-content;
        position: relative;
        margin-bottom: 25px;
    }

    .feature__backgroud__video__container2 {
        width: 80%;
        top: 0px;
        left: 0px;
        height: 100%;
        max-width: fit-content;
        max-height: fit-content;
        position: relative;
        margin-bottom: 25px;
    }

    .feature__backgroud__video__container3 {
        position: absolute;
        width: 80%;
        top: 0px;
        height: 100%;
        max-width: fit-content;
        max-height: fit-content;
        z-index: 1;
        position: relative;
        margin-bottom: 25px;
    }

    .feature__backgroud__video__container4 {
        position: absolute;
        width: 80%;
        top: 0px;
        left: 0px;
        height: 100%;
        max-width: -webkit-fill-available;
        max-height: fit-content;
        z-index: 1;
        position: relative;
        margin-bottom: 25px;
    }

    .content-box {
        width: 60%;
        height: 100%;
    }

    .row {
        flex-direction: column;
    }

    .column,
    .columns {
        position: static;
        width: 100%;
    }

    .game-thumb img {
        width: 100%;
    }

    .banner10_parts {
        width: 100%;
        height: 100%;
    }

    .banner10_part {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .banner10_part5 {
        grid-template-columns: none;
        justify-content: center;
    }

}

@media only screen and (min-width: 576px) and (max-width: 768px) {
    .image-L {
        padding-top: 8%;
    }

    .feature__image1,
    .feature__image2,
    .feature__image3,
    .feature__image4 {
        flex-direction: column;
        height: 100%;
        width: 90%;
        gap: 3rem;
    }

    #feature__image {
        display: none;
    }

    .feature__txt1,
    .feature__txt3 {
        margin-left: 0px;
        margin-top: 20px;
    }

    .feature__txt4,
    .feature__txt2 {
        margin-right: 0px;
        margin-top: 20px;
    }

    .feature__backgroud__video__container1 {
        width: 79%;
        top: 0%;
        height: 43.5%;
        max-width: fit-content;
        max-height: fit-content;
        position: relative;
        margin-bottom: 25px;
    }

    .feature__backgroud__video__container2 {
        width: 79%;
        top: 0px;
        left: 0px;
        height: 43.5%;
        max-width: fit-content;
        max-height: fit-content;
        position: relative;
        margin-bottom: 25px;
    }

    .feature__backgroud__video__container3 {
        position: absolute;
        width: 63%;
        top: 0px;
        height: 52%;
        max-width: fit-content;
        max-height: fit-content;
        z-index: 1;
        position: relative;
        margin-bottom: 25px;
    }

    .feature__backgroud__video__container4 {
        position: absolute;
        width: 63%;
        top: 0px;
        left: 0px;
        height: 42.3%;
        max-width: -webkit-fill-available;
        max-height: fit-content;
        z-index: 1;
        position: relative;
        margin-bottom: 25px;
    }

    .content-box {
        width: 60%;
        height: 100%;
    }

    .row {
        flex-direction: column;
    }

    .column,
    .columns {
        position: static;
        width: 100%;
    }

    .game-thumb img {
        width: 100%;
    }

    .banner10_parts {
        width: 100%;
        height: 100%;
    }

    .banner10_part {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .banner10_part5 {
        grid-template-columns: none;
        justify-content: center;
    }

}

@media only screen and (min-width: 769px) and (max-width: 991px) {

    header#menu,
    header#menu2 {
        animation-duration: 1s;
        width: 100%;
        height: 90px;
        box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);
        background-color: brown;
        display: flex;
        justify-content: center;
        position: fixed;
        z-index: 5;
    }

    .menu-1 {
        width: 100%;
        height: 100%;
    }

    nav.menu-2 {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;
    }

    .menu-2 a {
        display: flex;
        order: 1;
        width: 59%;
        padding-left: 30px;
    }

    .nav-items {
        text-decoration: none;
        display: flex;
        width: 15%;
        height: 250px;
        justify-content: center;
        align-items: center;
        order: 3;
        flex-direction: column;
        padding: 9px 25px;
        background: dimgrey;
        position: absolute;
        top: 100%;
        left: 0;
        gap: 2rem;
        display: none;
    }

    .nav-items2 {
        display: flex;
        order: 2;
        width: 30%;
    }

    a.btn_1 {
        width: max-content;
        padding: 18.5px 25px;
    }

    label.menu-btn1 {
        position: absolute;
        right: 55px;
        display: block;
    }

    .menu-btn1 i {
        display: block;
        font-size: 25px;
        color: #fff;
    }

    #click1:checked~.menu-btn1 i:before {
        content: "\f00d";
    }

    #click1:checked~.nav-items {
        left: 0px;
        display: flex;
        align-items: baseline
    }

    #click1:checked~.nav-items a {
        margin-left: 0px;
        width: 145%;
        font-size: 20px;
        letter-spacing: 1px;
    }

    .nav-items a:hover {
        background: beige;
        border-radius: 50px;
        color: brown;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn_13 {
        display: none;
    }

    .image-L {
        padding-top: 8%;
    }

    .feature__image1,
    .feature__image2,
    .feature__image3,
    .feature__image4 {
        flex-direction: column;
        height: 100%;
        width: 70%;
        gap: 3rem;
    }

    .feature__txt4,
    .feature__txt2 {
        margin-right: 0px;
        margin-top: 20px;
    }

    #feature__image {
        display: none;
    }

    .feature__txt1,
    .feature__txt3 {
        margin-left: 0px;
        margin-top: 20px;
    }

    .feature__backgroud__video__container1 {
        width: 79%;
        top: 0%;
        height: 43.5%;
        max-width: fit-content;
        max-height: fit-content;
        position: relative;
        margin-bottom: 25px;
    }

    .feature__backgroud__video__container2 {
        width: 79%;
        top: 0px;
        left: 0px;
        height: 43.5%;
        max-width: fit-content;
        max-height: fit-content;
        position: relative;
        margin-bottom: 25px;
    }

    .feature__backgroud__video__container3 {
        position: absolute;
        width: 63%;
        top: 0px;
        height: 52%;
        max-width: fit-content;
        max-height: fit-content;
        z-index: 1;
        position: relative;
        margin-bottom: 25px;
    }

    .feature__backgroud__video__container4 {
        position: absolute;
        width: 63%;
        top: 0px;
        left: 0px;
        height: 42.3%;
        max-width: -webkit-fill-available;
        max-height: fit-content;
        z-index: 1;
        position: relative;
        margin-bottom: 25px;
    }

    .content-box {
        width: 60%;
        height: 100%;
    }

    .row {
        flex-direction: column;
    }

    .column,
    .columns {
        position: static;
        width: 100%;
    }

    .game-thumb img {
        width: 100%;
    }

    .banner10_parts {
        width: 100%;
        height: 100%;
    }

    .banner10_part {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .banner10_part5 {
        grid-template-columns: none;
        justify-content: center;
    }

}

@media only screen and (min-width: 992px) and (max-width: 1150px) {
    /* .image-L {
        padding-top: 8%;
    } */

    .feature__image1,
    .feature__image2,
    .feature__image3,
    .feature__image4 {
        flex-direction: column;
        height: 100%;
        width: 70%;
        gap: 3rem;
    }

    .feature__txt4,
    .feature__txt2 {
        margin-right: 0px;
        margin-top: 20px;
    }

    #feature__image {
        display: none;
    }

    .feature__txt1,
    .feature__txt3 {
        margin-left: 0px;
        margin-top: 20px;
    }

    .feature__backgroud__video__container1 {
        width: 79%;
        top: 0%;
        height: 43.5%;
        max-width: fit-content;
        max-height: fit-content;
        position: relative;
        margin-bottom: 25px;
    }

    .feature__backgroud__video__container2 {
        width: 79%;
        top: 0px;
        left: 0px;
        height: 43.5%;
        max-width: fit-content;
        max-height: fit-content;
        position: relative;
        margin-bottom: 25px;
    }

    .feature__backgroud__video__container3 {
        position: absolute;
        width: 63%;
        top: 0px;
        height: 52%;
        max-width: fit-content;
        max-height: fit-content;
        z-index: 1;
        position: relative;
        margin-bottom: 25px;
    }

    .feature__backgroud__video__container4 {
        position: absolute;
        width: 63%;
        top: 0px;
        left: 0px;
        height: 42.3%;
        max-width: -webkit-fill-available;
        max-height: fit-content;
        z-index: 1;
        position: relative;
        margin-bottom: 25px;
    }

    .banner10_parts {
        width: 100%;
        height: 100%;
    }

    .banner10_part {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .banner10_part5 {
        grid-template-columns: none;
        justify-content: center;
    }

}