@media only screen and (max-width: 575px) {

    .heading-text {
        font-size: 25px;
        padding-top: 37%;
        width: 163%;
    }

    .d-banner1_part2 {
        width: 35%;
        height: 100%;
    }

    #h1-h2-h3-h4 {
        width: 134%;
    }

    .d-banner1_parts {
        padding-top: 25.4%;
        width: 162%;
        flex-direction: column;
        align-items: center;
        gap: 4rem;
    }

    .d-banner2_parts {
        width: 162%;
        flex-direction: column;
        align-items: center;
        gap: 4rem;
        padding-top: 7%;
    }

    .d-banner3_parts {
        width: 162%;
        flex-direction: column;
        align-items: center;
        gap: 4rem;
        padding-top: 7%;
    }

    .d-banner4_parts {
        width: 162%;
        flex-direction: column;
        align-items: center;
        gap: 4rem;
        padding-top: 7%;
    }

    .d-banner5_parts {
        width: 162%;
        flex-direction: column;
        align-items: center;
        gap: 4rem;
        padding-top: 7%;
    }

    .d-banner1_part1,
    .d-banner2_part1,
    .d-banner3_part1,
    .d-banner4_part1,
    .d-banner5_part1 {
        width: auto;
    }

    .d-banner1_part2,
    .d-banner2_part2,
    .d-banner3_part2,
    .d-banner4_part2,
    .d-banner5_part2 {
        width: 80%;
        height: 100%;
    }

    #card {
        transform: translate(-50%, -50%);
        width: 65%;
        height: 220px;
        background: #262626;
        overflow: hidden;
        position: relative;
        top: 6.5rem;
        left: 34%;
    }

    h1#aboutus {
        width: 163%;
    }

    .banner6_part {
        width: 162%;
    }

    .content-box {
        height: 100%;
    }


    .column.medium-6.valign-middle {
        width: 100%;
    }

    .column.medium-6.valign-middle img {
        width: 100%;
    }

    .row.row-table {
        display: flex;
        align-items: center;
        padding-top: 2rem;
        flex-direction: column;
        width: 100%;
    }

    #card .details h1 {
        font-size: 23px;
    }

    span {
        color: white;
        font-size: 19px;
        letter-spacing: 1px;
        font-family: cursive;
    }

    .banner10_part {
        width: 90.4%;
        grid-template-columns: repeat(1, 1fr);
        gap: 4rem;
        justify-items: center;
        padding: 20px 20px;
        justify-items: baseline;
    }

    .banner10_parts {
        width: 159%;
        height: 100%;
    }

    .button-contactForm {
        right: 1%;
    }

    .banner10_part5 {
        width: 93%;
        padding: 20px;
        grid-template-columns: 1fr 1fr;
    }

    .part2-banner10_part5 a {
        font-size: 26px;
    }

    .part1-banner10_part5 p {
        font-size: 20px;
        letter-spacing: 1px;
    }

    .banner10_part1 p,
    .banner10_part2 p,
    .banner10_part3 p,
    .banner10_part4 p {
        font-size: 22px;
        letter-spacing: 1px;
    }

    .banner10_part1 h4,
    .banner10_part2 h4,
    .banner10_part3 h4,
    .banner10_part4 h4 {
        font-size: 26px;
        letter-spacing: 1px;
    }

    input#inp {
        font-size: 17px;
        letter-spacing: 1px;
    }
}

@media only screen and (min-width:576px) and (max-width:768px) {
    .heading-text {
        font-size: 25px;
        padding-top: 15%;
        width: 113.3%;
    }

    .d-banner1_part2 {
        width: 35%;
        height: 100%;
    }

    #h1-h2-h3-h4 {
        width: 100%;
    }

    .d-banner1_parts {
        width: 113.2%;
        padding-top: 14.4%;
    }

    .d-banner2_parts {
        width: 113.2%;
        padding-top: 7%;
    }

    .d-banner3_parts {
        width: 113.2%;
        padding-top: 7%;
    }

    .d-banner4_parts {
        width: 113.2%;
        padding-top: 7%;
    }

    .d-banner5_parts {
        width: 113.2%;
        padding-top: 7%;
    }

    h1#aboutus {
        width: 113.3%;
    }

    .banner6_part {
        width: 113.2%;
    }

    .content-box {
        height: 100%;
    }

    .column.medium-6.valign-middle {
        width: 77%;
    }

    .row.row-table {
        display: flex;
        align-items: center;
        padding-top: 2rem;
        flex-direction: column;
        width: 100%;
    }

    #card .details h1 {
        font-size: 23px;
    }

    .banner10_parts {
        width: 113.2%;
        height: 100%;
    }

    .banner10_part {
        width: 95%;
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;
        padding: 20px 20px;
        justify-items: baseline;
        align-items: flex-start;
    }

    .banner10_part5 {
        width: 94.2%;
        padding: 0px 20px;
        grid-template-columns: 2fr 1fr;
    }

    .button-contactForm {
        right: 0.5%;
    }

    .banner10_part1 p,
    .banner10_part2 p,
    .banner10_part3 p,
    .banner10_part4 p {
        font-weight: 500;
        font-family: math;
        margin-top: 10px;
        font-size: 15px;
    }

    .banner10_part1 h4,
    .banner10_part2 h4,
    .banner10_part3 h4,
    .banner10_part4 h4 {
        margin-top: 10px;
        font-size: 18px;
    }

    .part1-banner10_part5 p {
        font-size: 17px;
    }

    .part2-banner10_part5 a {
        font-size: 23px;
    }
}

@media only screen and (min-width:769px) and (max-width:991px) {

    header#menu,
    header#menu2 {
        animation-duration: 1s;
        width: 100%;
        height: 15%;
        box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);
        background-color: brown;
        display: flex;
        justify-content: center;
        position: fixed;
        z-index: 5;
    }

    .menu-1 {
        width: 100%;
        height: 100%;
    }

    nav.menu-2 {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;
    }

    .menu-2 a {
        display: flex;
        order: 1;
        width: 59%;
        padding-left: 30px;
    }

    .nav-items {
        text-decoration: none;
        display: flex;
        width: 15%;
        height: 250px;
        justify-content: center;
        align-items: center;
        order: 3;
        flex-direction: column;
        padding: 9px 25px;
        background: dimgrey;
        position: absolute;
        top: 100%;
        left: 0;
        gap: 2rem;
        display: none;
    }

    .nav-items2 {
        display: flex;
        order: 2;
        width: 30%;
    }

    a.btn_1 {
        width: max-content;
        padding: 18.5px 25px;
    }

    label.menu-btn1 {
        position: absolute;
        right: 55px;
        display: block;
    }

    .menu-btn1 i {
        display: block;
        font-size: 25px;
        color: #fff;
    }

    #click1:checked~.menu-btn1 i:before {
        content: "\f00d";
    }

    #click1:checked~.nav-items {
        left: 0px;
        display: flex;
        align-items: baseline
    }

    #click1:checked~.nav-items a {
        margin-left: 0px;
        width: 145%;
        font-size: 20px;
        letter-spacing: 1px;
    }

    .nav-items a:hover {
        background: beige;
        border-radius: 50px;
        color: brown;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn_13 {
        display: none;
    }

    .heading-text {
        font-size: 25px;
        padding-top: 15%;
    }

    .d-banner1_part2 {
        width: 35%;
        height: 100%;
    }

    .content-box {
        height: 100%;
    }

    .column.medium-6.valign-middle {
        width: 66%;
    }

    .row.row-table {
        display: flex;
        align-items: center;
        padding-top: 2rem;
        flex-direction: column;
        width: 100%;
    }

    #card .details h1 {
        font-size: 23px;
    }

    .banner10_parts {
        width: 100%;
        height: 100%;
    }

    .banner10_part {
        width: 94.2%;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
        padding: 0px 20px;
    }

    .banner10_part5 {
        width: 94.2%;
        padding: 0px 20px;
        grid-template-columns: 2fr 1fr;
    }

    .button-contactForm {
        right: 0.5%;
    }

    .banner10_part1 p,
    .banner10_part2 p,
    .banner10_part3 p,
    .banner10_part4 p {
        font-weight: 500;
        font-family: math;
        margin-top: 10px;
        font-size: 15px;
    }

    .banner10_part1 h4,
    .banner10_part2 h4,
    .banner10_part3 h4,
    .banner10_part4 h4 {
        margin-top: 10px;
        font-size: 18px;
    }

    .part1-banner10_part5 p {
        font-size: 17px;
    }

    .part2-banner10_part5 a {
        font-size: 23px;
    }
}

@media only screen and (min-width:992px) and (max-width: 1300px) {
    .nav-items {
        width: 58%;
    }

    .content-box {
        width: 75%;
        height: 100%;
    }

    .button-contactForm {
        right: 0.5%;
    }

    .banner10_part {
        width: 100%;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
    }

    .banner10_part1 p,
    .banner10_part2 p,
    .banner10_part3 p,
    .banner10_part4 p {
        font-weight: 500;
        font-family: math;
        margin-top: 10px;
        font-size: 15px;
    }

    .banner10_part1 h4,
    .banner10_part2 h4,
    .banner10_part3 h4,
    .banner10_part4 h4 {
        margin-top: 10px;
        font-size: 15px;
    }

    .part1-banner10_part5 p {
        font-size: 17px;
    }

    .part2-banner10_part5 a {
        font-size: 23px;
    }
}