@media only screen and (max-width: 575px) {
    #h1-h2-h3-h4 {
        padding: 0px;
        margin: 0px;
        margin-bottom: 6rem;
    }

    .heading-text {
        padding-top: 28%;
    }

    .d-banner1_parts,
    .d-banner2_parts,
    .d-banner3_parts,
    .d-banner4_parts,
    .d-banner5_parts {
        flex-direction: column;
    }

    .d-banner1_part1,
    .d-banner2_part1,
    .d-banner3_part1,
    .d-banner4_part1,
    .d-banner5_part1 {
        width: 65%;
        height: 36vh;
        display: flex;
        justify-content: center;
    }

    .d-banner1_part2,
    .d-banner2_part2,
    .d-banner3_part2,
    .d-banner4_part2,
    .d-banner5_part2 {
        width: 80%;
        height: 100%;
    }

    #card {
        transform: translate(-15%, -46%);
        width: 80%;
        height: 200px;
        margin-bottom: 30px;
    }

    .content-box {
        width: 55%;
        height: 100%;
    }

    .column,
    .columns {
        padding-left: 0rem;
        padding-right: 0rem;
        width: 100%;
    }

    .row.row-table {
        flex-direction: column;
    }

    img.about-image {
        width: 100%;
    }

    .banner10_parts {
        width: 100%;
        height: 100%;
    }

    .banner10_part {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .banner10_part5 {
        grid-template-columns: none;
        justify-content: center;
    }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
    #h1-h2-h3-h4 {
        padding: 0px;
        margin: 0px;
        margin-bottom: 6rem;
    }

    .heading-text {
        padding-top: 12%;
    }

    .d-banner1_parts,
    .d-banner2_parts,
    .d-banner3_parts,
    .d-banner4_parts,
    .d-banner5_parts {
        flex-direction: column;
    }

    .d-banner1_part1,
    .d-banner2_part1,
    .d-banner3_part1,
    .d-banner4_part1,
    .d-banner5_part1 {
        width: 60%;
        height: 36vh;
        display: flex;
        justify-content: center;
    }

    .d-banner1_part2,
    .d-banner2_part2,
    .d-banner3_part2,
    .d-banner4_part2,
    .d-banner5_part2 {
        width: 80%;
        height: 100%;
    }

    .feature__backgroud__image__container2 {
        max-width: 60%;
        max-height: 100%;
    }

    #card {
        transform: translate(-15%, -46%);
        width: 60%;
        height: 200px;
        margin-bottom: 30px;
    }

    .content-box {
        width: 80%;
        height: 100%;
    }

    .column,
    .columns {
        padding-left: 0rem;
        padding-right: 0rem;
        width: 100%;
    }

    .row.row-table {
        flex-direction: column;
    }

    img.about-image {
        width: 100%;
        object-fit: none;
    }

    .banner10_parts {
        width: 100%;
        height: 100%;
    }

    .banner10_part {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .banner10_part5 {
        grid-template-columns: none;
        justify-content: center;
    }
}

@media only screen and (min-width: 769px) and (max-width: 991px) {

    header#menu,
    header#menu2 {
        animation-duration: 1s;
        width: 100%;
        height: 90px;
        box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);
        background-color: brown;
        display: flex;
        justify-content: center;
        position: fixed;
        z-index: 5;
    }

    .menu-1 {
        width: 100%;
        height: 100%;
    }

    nav.menu-2 {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;
    }

    .menu-2 a {
        display: flex;
        order: 1;
        width: 59%;
        padding-left: 30px;
    }

    .nav-items {
        text-decoration: none;
        display: flex;
        width: 15%;
        height: 250px;
        justify-content: center;
        align-items: center;
        order: 3;
        flex-direction: column;
        padding: 9px 25px;
        background: dimgrey;
        position: absolute;
        top: 100%;
        left: 0;
        gap: 2rem;
        display: none;
    }

    .nav-items2 {
        display: flex;
        order: 2;
        width: 30%;
    }

    a.btn_1 {
        width: max-content;
        padding: 18.5px 25px;
    }

    label.menu-btn1 {
        position: absolute;
        right: 55px;
        display: block;
    }

    .menu-btn1 i {
        display: block;
        font-size: 25px;
        color: #fff;
    }

    #click1:checked~.menu-btn1 i:before {
        content: "\f00d";
    }

    #click1:checked~.nav-items {
        left: 0px;
        display: flex;
        align-items: baseline
    }

    #click1:checked~.nav-items a {
        margin-left: 0px;
        width: 145%;
        font-size: 20px;
        letter-spacing: 1px;
    }

    .nav-items a:hover {
        background: beige;
        border-radius: 50px;
        color: brown;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn_13 {
        display: none;
    }

    #h1-h2-h3-h4 {
        padding: 0px;
        margin: 0px;
        margin-bottom: 6rem;
    }

    .d-banner1_parts,
    .d-banner2_parts,
    .d-banner3_parts,
    .d-banner4_parts,
    .d-banner5_parts {
        flex-direction: column;
    }

    .d-banner1_part1,
    .d-banner2_part1,
    .d-banner3_part1,
    .d-banner4_part1,
    .d-banner5_part1 {
        width: 50%;
        height: 36vh;
        display: flex;
        justify-content: center;
    }

    .d-banner1_part2,
    .d-banner2_part2,
    .d-banner3_part2,
    .d-banner4_part2,
    .d-banner5_part2 {
        width: 65%;
        height: 100%;
    }

    .feature__backgroud__image__container2 {
        max-width: 60%;
        max-height: 100%;
    }

    #card {
        transform: translate(-25%, -46%);
        width: 50%;
        height: 200px;
        margin-bottom: 30px;
    }

    .content-box {
        width: 80%;
        height: 100%;
    }

    .column,
    .columns {
        padding-left: 0rem;
        padding-right: 0rem;
        width: 100%;
    }

    .row.row-table {
        gap: 2rem;
    }

    img.about-image {
        width: 100%;
        object-fit: none;
    }

    .banner10_parts {
        width: 100%;
        height: 100%;
    }

    .banner10_part {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .banner10_part5 {
        grid-template-columns: none;
        justify-content: center;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1150px) {
    .banner10_parts {
        width: 100%;
        height: 100%;
    }

    .banner10_part {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .banner10_part5 {
        grid-template-columns: none;
        justify-content: center;
    }
}