@media only screen and (max-width: 575px) {
    #h1-banner1-part-1 {
        line-height: 1.3;
        font-size: 65px;
        letter-spacing: 1px;
    }

    .txt-box h4 {
        font-size: 33px;
        letter-spacing: 2px;
    }

    p {
        font-size: 31px;
        letter-spacing: 3px;
    }

    .banner1_parts {
        height: 100%;
        padding-top: 46%;
        width: 288%;
        justify-content: center;
        justify-items: center;
    }

    .banner1_part1 {
        width: 63%;
        justify-content: center;
        align-items: baseline;
        margin-top: 30px;
    }

    .banner2_parts-main {
        height: 100%;
        width: 288%;
    }

    .banner2_parts {
        width: 100%;
        height: 75%;
    }

    .banner2_part1 {
        width: 100%;
        height: 75vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
    }

    .banner2_part1 img {
        object-fit: contain;
        width: 188px;
        height: 130px;
    }

    .banner3_parts {
        width: 288%;
        height: 100%;
    }

    .banner3_part {
        flex-direction: column;
    }

    .banner3_part2 {
        width: 67%;
    }

    .banner3_part2 .btn_1 {
        margin-right: 23px;
        margin-bottom: 30px;
    }

    .banner3_part2 p {
        font-size: 31px;
    }

    .banner4_parts {
        width: 288%;
        grid-template-columns: none;
        grid-template-rows: 1fr 2fr;
        justify-content: center;
        height: 100%;
        padding: 0px 0 0px;
        gap: 5rem;
        padding: 50px 0px;
    }

    .banner4_part2 {
        gap: 3rem;
        width: 95%;
        padding: 20px;
        justify-self: center;
        grid-template-columns: 1fr 2fr;
    }

    .banner5_parts {
        width: 288%;
        height: 100%;
    }

    .banner5_part2 {
        width: 556px;
        height: 279px;
    }

    .banner5_part2::after {
        width: 552px;
        height: 275px;
    }

    .txt-box {
        height: 93%;
        top: 0px;
    }

    .vs-box,
    .vs-box1,
    .part1-banner6_part1 {
        flex-direction: column;
        border-bottom: 1px solid rosybrown;
        padding-top: 2rem;
    }

    .part1-banner6_part1 h2 {
        font-size: 40px;
        letter-spacing: 1px;
    }

    .banner6_parts {
        width: 288%;
    }

    .banner6_part {
        width: 51%;
        grid-template-columns: none;
        gap: 2rem;
        justify-items: center;
    }

    .banner6_part1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5rem;
        line-height: 58px;
    }

    .part1-banner6_part1 {
        padding-top: 2rem;
        text-align: center;
    }

    .banner6_part2 {
        width: 414px;
        height: 424px;
    }

    .banner6_part2::after {
        width: 410px;
        height: 420px;
    }

    .part1-banner6_part1 img {
        max-width: 120px;
        object-fit: none;
    }

    .war_date {
        margin-bottom: 4rem;
    }

    .txt-box a,
    .war_date a {
        letter-spacing: 2px;
        font-size: 25px;
    }

    .txt-box p,
    .war_date p {
        font-size: 35px;
        letter-spacing: 1px;
        line-height: 45px;
    }

    .banner7_parts {
        width: 288%;
    }

    .banner8_parts {
        width: 288%;
    }

    .banner8_part {
        gap: 10rem;
    }

    .banner8_part2 h2 {
        font-size: 30px;
        margin-bottom: 30px;
    }

    #txt-p {
        font-size: 30px;
    }

    .banner9_parts {
        width: 288%;
    }

    .banner9_part {
        width: 67%;
        display: grid;
        justify-content: center;
        gap: 5rem;
    }

    .banner9_part2 {
        display: grid;
        grid-template-columns: repeat(1, 450px);
        justify-content: center;
        gap: 4rem;
        height: 100%;
    }

    .part1-banner9_part2 {
        width: 100%;
    }

    .single_pricing_part p {
        color: #fff;
        font-size: 33px;
    }

    .single_pricing_part h3 {
        font-size: 55px;
    }

    .single_pricing_part ul li {
        font-size: 26px;
        letter-spacing: 3px;
    }

    .btn_2 {
        letter-spacing: 1px;
        font-size: 30px;
    }

    .banner10_parts {
        width: 288%;
        height: 100%;
        gap: 4rem;
    }

    .banner10_part {
        width: 92%;
        grid-template-columns: repeat(1, 1fr);
        gap: 5rem;
        padding: 0rem 2rem;
        justify-items: baseline;
    }

    input#inp {
        height: 35px;
        font-size: 25px;
        letter-spacing: 2px;
    }

    .button-contactForm {
        font-size: 25px;
    }

    p.para {
        font-size: 25px;
        letter-spacing: 2px;
    }

    .banner10_part5 {
        grid-template-columns: none;
        width: 92%;
        padding: 2rem 2rem;
        gap: 2rem;
    }

    .part1-banner10_part5 p {
        font-size: 35px;
        letter-spacing: 2px;
    }

    .part2-banner10_part5 a {
        font-size: 41px;
    }

    .banner10_part1 img {
        width: 185px;
        object-fit: cover;
    }

    .banner10_part1 p,
    .banner10_part2 p,
    .banner10_part3 p,
    .banner10_part4 p {
        font-size: 35px;
        letter-spacing: 2px;
        line-height: 40px;
    }

    .banner10_part1 h4,
    .banner10_part2 h4,
    .banner10_part3 h4,
    .banner10_part4 h4 {
        font-size: 45px;
        letter-spacing: 3px;
    }

    .banner3_part1 img {
        height: 425px;
        width: 520px;
        object-fit: cover;
    }
}

@media only screen and (min-width:576px) and (max-width:768px) {
    #h1-banner1-part-1 {
        line-height: 1.3;
    }

    .txt-box h4 {
        font-size: 33px;
        letter-spacing: 2px;
    }

    .ht_item,
    .ht_item1 {
        height: 22%;
    }

    #menu {
        display: none;
    }

    .banner1_parts {
        height: 80vh;
        width: 145%;
        justify-content: center;
        justify-items: center;
        padding-top: 15%;
    }

    p.para {
        font-size: 18px;
        letter-spacing: 2px;
    }

    .banner1_part1 {
        width: 63%;
        justify-content: center;
        align-items: baseline;
    }

    .banner1_part1 p {
        margin-bottom: 30px;
        font-weight: lighter;
        font-family: cursive;
        font-size: 20px;
    }

    .banner2_parts-main {
        height: 50vh;
        width: 145%;
    }

    .banner2_parts {
        width: 100%;
    }

    .banner2_part1 {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        align-items: center;
    }

    .banner3_parts {
        width: 145%;
    }

    .banner3_part2 .btn_1 {
        margin-right: 10px;
        margin-bottom: 2rem;
    }

    .banner3_part2 p {
        font-size: 20px;
    }

    .btn_1 {
        font-size: 18px;
        letter-spacing: 1px;
    }

    .banner4_parts {
        width: 144%;
        grid-template-columns: none;
        grid-template-rows: 1fr 2fr;
        justify-content: end;
        height: 105vh;
        padding: 0px 0 0px;
    }

    .banner4_part2 {
        gap: 0rem;
    }

    .banner5_parts {
        width: 144%;
    }

    .banner5_part2 {
        width: 556px;
        height: 279px;
    }

    .banner5_part2::after {
        width: 552px;
        height: 275px;
    }

    .txt-box {
        height: 57%;
        top: 10px;
    }

    .banner6_parts {
        width: 144%;
    }

    .banner6_part {
        width: 51%;
        grid-template-columns: none;
        gap: 2rem;
    }

    .part1-banner6_part1 img {
        max-width: 100px;
    }

    .banner6_part1 {
        display: grid;
        grid-template-columns: max-content;
    }

    .banner6_part2 {
        width: 414px;
        height: 424px;
    }

    .banner6_part2::after {
        width: 410px;
        height: 420px;
    }

    .part1-banner6_part1 h2 {
        font-size: 20px;
    }

    .banner7_parts {
        width: 144%;
    }

    .banner8_parts {
        width: 144%;
        height: 80vh;
    }

    .banner9_parts {
        width: 144%;
    }

    .single_pricing_part p {
        font-size: 20px;
        letter-spacing: 1px;
    }

    .single_pricing_part ul li {
        font-size: 17px;
        letter-spacing: 1px;
    }

    .banner10_parts {
        width: 144%;
        height: 50vh;

    }

    .banner10_part {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }

    .banner10_part5 {
        grid-template-columns: 5fr 2fr;
    }

    .banner10_part1 p,
    .banner10_part2 p,
    .banner10_part3 p,
    .banner10_part4 p {
        font-size: 18px;
        letter-spacing: 1px;
    }

    .banner10_part1 h4,
    .banner10_part2 h4,
    .banner10_part3 h4,
    .banner10_part4 h4 {
        font-size: 24px;
        letter-spacing: 2px;
    }

    .part1-banner10_part5 p {
        font-size: 20px;
        letter-spacing: 1px;
    }

    .part2-banner10_part5 a {
        margin: 0px 8px;
        font-size: 25px;
    }

    input#inp {
        letter-spacing: 0.5px;
        font-size: 16px;
    }

    .button-contactForm {
        font-size: 18px;
    }
}

@media only screen and (min-width:769px) and (max-width:991px) {

    header#menu,
    header#menu2 {
        animation-duration: 1s;
        width: 100%;
        height: 15%;
        box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);
        background-color: brown;
        display: flex;
        justify-content: center;
        position: fixed;
        z-index: 5;
    }

    .menu-1 {
        width: 100%;
        height: 100%;
    }

    nav.menu-2 {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;
    }

    .menu-2 a {
        display: flex;
        order: 1;
        width: 59%;
        padding-left: 30px;
    }

    .nav-items {
        text-decoration: none;
        display: flex;
        width: 15%;
        height: 250px;
        justify-content: center;
        align-items: center;
        order: 3;
        flex-direction: column;
        padding: 9px 25px;
        background: dimgrey;
        position: absolute;
        top: 100%;
        left: 0;
        gap: 2rem;
        display: none;
    }

    .nav-items2 {
        display: flex;
        order: 2;
        width: 30%;
    }

    a.btn_1 {
        width: max-content;
    }

    label.menu-btn1 {
        position: absolute;
        right: 55px;
        display: block;
    }

    .menu-btn1 i {
        display: block;
        font-size: 25px;
        color: #fff;
    }

    #click1:checked~.menu-btn1 i:before {
        content: "\f00d";
    }

    #click1:checked~.nav-items {
        left: 0px;
        display: flex;
        align-items: baseline
    }

    #click1:checked~.nav-items a {
        margin-left: 0px;
        width: 145%;
        font-size: 20px;
        letter-spacing: 1px;
    }

    .nav-items a:hover {
        background: beige;
        border-radius: 50px;
        color: brown;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn_13 {
        display: none;
    }

    #h1-h2-h3-h4 {
        padding: 20px 0px;
        margin: 20px 0px;
    }

    .banner3_part2 .btn_1 {
        margin-right: 24px;
    }

    .banner1_parts {
        height: 80vh;
        width: 100%;
        min-width: 108.5vw;
        justify-content: center;
        justify-items: center;
        padding-top: 9%;
    }

    .banner1_part1 {
        width: 67%;
        justify-content: center;
        align-items: baseline;
    }

    .banner1_part1 p {
        font-size: 16px;
    }

    #h1-banner1-part-1 {
        padding-top: 15px;
    }

    .banner2_parts-main {
        width: 100%;
        min-width: 109vw;
    }

    .banner2_parts {
        width: 100%;
        min-width: 108.5vw;
    }

    .banner2_part1 {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        align-items: center;
    }


    .banner3_parts {
        width: 100%;
        min-width: 108.5vw;
    }

    .banner4_parts {
        width: 100%;
        min-width: 108.5vw;
        grid-template-columns: none;
        grid-template-rows: 1fr 2fr;
        justify-content: end;
        height: 131%;
    }

    .banner4_part2 {
        gap: 0rem;
    }

    .banner5_parts {
        width: 100%;
        min-width: 108.5vw;
    }

    .banner5_part2 {
        width: 555.4px;
        height: 279px;
    }

    .banner5_part2::after {
        width: 552px;
        height: 275px;
    }

    .txt-box {
        height: 93%;
        top: 15px;
    }

    .banner6_parts {
        width: 100%;
        min-width: 108.5vw;
    }

    .banner6_part {
        width: 51%;
        grid-template-columns: none;
        gap: 2rem;
    }

    .banner6_part2 {
        width: 414px;
        height: 424px;
    }

    .banner6_part2::after {
        width: 410px;
        height: 420px;
    }

    .banner7_parts {
        width: 100%;
        min-width: 108.5vw;
    }

    .banner8_parts {
        width: 100%;
        min-width: 108.5vw;
    }

    .banner9_parts {
        width: 100%;
        min-width: 108.5vw;
    }

    .banner10_parts {
        width: 100%;
        min-width: 108.5vw;
    }

    .banner10_part {
        width: 84%;
    }

    .banner10_part5 {
        grid-template-columns: 5fr 2fr;
    }

    .banner10_part1 p,
    .banner10_part2 p,
    .banner10_part3 p,
    .banner10_part4 p {
        font-size: 13px;
        letter-spacing: 1px;
    }

    .banner10_part1 h4,
    .banner10_part2 h4,
    .banner10_part3 h4,
    .banner10_part4 h4 {
        font-size: 17px;
        letter-spacing: 1px;
    }

    .button-contactForm {
        right: 6%;
        font-size: 18px;
    }

    .part2-banner10_part5 a {
        font-size: 20px;
    }

}

@media only screen and (min-width:992px) and (max-width: 1300px) {
    .nav-items {
        text-decoration: none;
        display: flex;
        width: 59%;
    }

    .banner1_parts {
        height: 100%;
        min-height: 430px;
        width: 100%;
        min-width: 105vw;
        justify-content: end;
        padding-top: 8%;
        align-content: center;
    }

    .banner1_part1 {
        width: 42%;
        padding-left: 20px;
    }

    .banner2_parts {
        width: 100%;
        min-width: 105vw;
    }

    .banner2_part1 {
        width: 80%;
    }

    .banner3_parts {
        width: 100%;
        min-width: 105vw;
    }

    .banner4_parts {
        width: 100%;
        min-width: 105vw;
    }

    .banner4_part2 {
        gap: 0rem;
    }

    .banner5_parts {
        width: 100%;
        min-width: 105vw;
    }

    .banner5_part2 {
        width: 695px;
    }

    .banner6_parts {
        width: 100%;
        min-width: 105vw;
    }

    .banner6_part {
        width: 80%;
    }

    .banner7_parts {
        width: 100%;
        min-width: 105vw;
    }

    .banner8_parts {
        width: 100%;
        min-width: 105vw;
    }

    .banner9_parts {
        width: 100%;
        min-width: 105vw;
    }

    .banner10_parts {
        width: 105%;
    }

    .banner10_part5 {
        grid-template-columns: 5fr 2fr;
        width: 96%;
        padding: 20px 20px;
    }

    .banner10_part1 p,
    .banner10_part2 p,
    .banner10_part3 p,
    .banner10_part4 p {
        font-size: 13px;
        letter-spacing: 1px;
    }

    .button-contactForm {
        right: 0%;
        top: 37%;
        font-size: larger;
    }

    .banner10_part {
        width: 96%;
        padding: 20px;
    }

    .part2-banner10_part5 a {
        font-size: 22px;
    }
}