@media only screen and (max-width:575px) {

    .banner1_parts {
        padding-top: 30%;
        justify-items: center;
    }

    .banner1_part1 {
        width: 90%;
        height: 100%;
        padding: 0rem;
    }

    .banner3_part {
        flex-direction: column;
    }

    .banner3_part1 img {
        height: fit-content;
        width: 100%;
    }

    .banner3_part2 {
        width: 100%;
    }

    .banner3_part2 .btn_1 {
        margin-bottom: 30px;
    }

    .banner2_parts-main {
        height: fit-content;
        margin-top: 60px;
    }

    .banner2_parts {
        height: fit-content;
        flex-direction: column;
        margin-top: 30px;
    }

    .banner2_part1 {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: center;
    }

    .banner4_parts {
        grid-template-columns: none;
        gap: 2rem;
        justify-items: center;
        padding: 40px 0 40px;
    }

    .banner4_part2 {
        grid-template-columns: none;
        gap: 2rem;
        justify-items: center;
        width: 100%;
    }

    .card1,
    .card2 {
        width: 250px;
        height: 250px;
    }

    .banner4_part1 {
        width: fit-content;
    }

    .banner5_part2 {
        width: 100%;
        height: fit-content;
    }

    .banner5_part2 {
        width: 100%;
        height: 100%;
        margin-bottom: 0px;
    }

    .banner5_part2::before {
        width: 100%;
        height: 100%;
    }

    .banner5_part2::after {
        width: 98%;
        height: 98%;
        background-size: cover;
    }

    .vs-box h2 {
        font-size: 20px;
    }

    .txt-box img {
        margin-bottom: 0px;
        width: 50px;
    }

    .banner6_part {
        grid-template-columns: none;
        gap: 2rem;
    }

    .vs-box,
    .vs-box1,
    .part1-banner6_part1 {
        flex-direction: column;
    }

    .banner6_part2 {
        width: 100%;
        height: 100%;
        margin-bottom: 0px;
    }

    .banner6_part2::before {
        width: 100%;
        height: 100%;
    }

    .banner6_part2::after {
        width: 98%;
        height: 98%;
        background-size: cover;
    }

    .txt-box {
        top: 5px;
        padding: 20px 0px;
    }

    .txt-box-img {
        margin-bottom: 0px;
        width: 50px;
    }

    .txt-box h4 {
        font-size: 15px;
        margin-bottom: 0px;
    }

    .vs-box1 img {
        margin-bottom: 10px;
        max-width: 50px;
    }

    .txt-box p,
    .war_date p {
        margin-bottom: 0px;
        font-size: 12px;
    }

    .txt-box a,
    .war_date a {
        font-size: 12px;
        margin-top: 0px;
    }

    #vs-box1-imgs {
        flex-direction: row;
    }

    .vs-box1 h2 {
        font-size: 20px;
    }

    .banner7_part {
        grid-template-columns: none;
    }

    .banner7_part2 {
        flex-direction: column;
        gap: 3rem;
    }

    .single-content {
        width: 100%;
        height: 300px;
    }

    img#img-1 {
        width: 100%;
        height: 300px;
    }

    #single-content-4 {
        width: 100%;
        height: 300px;
    }

    #single-content-5 {
        width: 100%;
        height: 300px;
    }

    div#single-content-1 {
        width: 100%;
        height: 300px;
    }

    #single-content-2 {
        width: 100%;
        height: 300px;
    }

    .banner8_part {
        width: 100%;
        height: 100%;
    }

    .txt {
        grid-template-columns: none;
    }

    .banner9_part2 {
        grid-template-columns: repeat(1, 88%);
        justify-content: start;
        gap: 3rem;
    }

    .banner10_parts {
        width: 100%;
        height: 100%;
        gap: 3rem;
    }

    .banner10_part {
        grid-template-columns: repeat(1, 1fr);
        justify-items: normal;
    }

    .banner10_part5 {
        grid-template-columns: none;
    }

    #h1-h2-h3-h4 {
        padding: 0px;
        margin: 0px;
    }
}

@media only screen and (min-width:576px) and (max-width:768px) {

    .banner1_parts {
        padding-top: 20%;
        justify-items: center;
    }

    .banner1_part1 {
        width: 90%;
        height: 100%;
        padding: 0rem;
    }

    .banner3_part {
        flex-direction: column;
    }

    .banner3_part1 {
        width: 70%;
    }

    .banner3_part1 img {
        height: fit-content;
        width: 100%;
    }

    .banner3_part2 {
        width: 70%;
    }

    .banner3_part2 .btn_1 {
        margin-bottom: 30px;
    }

    .banner2_parts-main {
        height: fit-content;
        margin-top: 0px;
    }

    .banner2_parts {
        height: fit-content;
        flex-direction: column;
        margin-top: 30px;
    }

    .banner2_part1 {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
        justify-items: center;
    }

    .banner4_parts {
        grid-template-columns: none;
        gap: 2rem;
        justify-items: center;
        padding: 70px 0px;
    }

    .banner4_part2 {
        grid-template-columns: none;
        gap: 2rem;
        justify-items: center;
        width: 100%;
    }

    .card1,
    .card2 {
        width: 80%;
    }

    .banner4_part1 {
        width: fit-content;
    }

    .banner5_part2 {
        width: 100%;
        height: fit-content;
    }

    .banner5_part {
        width: 100%;
        height: 100%;
    }

    .banner5_part2 {
        width: 100%;
        height: 100%;
        margin-bottom: 0px;
    }

    .banner5_part2::before {
        width: 100%;
        height: 100%;
    }

    .banner5_part2::after {
        width: 99%;
        height: 98%;
        background-size: cover;
    }

    .vs-box h2 {
        font-size: 20px;
    }

    .txt-box img {
        margin-bottom: 0px;
        width: 50px;
    }

    .banner6_part {
        grid-template-columns: none;
        gap: 2rem;
    }

    .vs-box,
    .vs-box1,
    .part1-banner6_part1 {
        flex-direction: row;
    }

    .war_date {
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .banner6_part2 {
        width: 100%;
        height: 100%;
        margin-bottom: 0px;
    }

    .banner6_part2::before {
        width: 100%;
        height: 100%;
    }

    .banner6_part2::after {
        width: 99%;
        height: 98%;
        background-size: cover;
    }

    .txt-box {
        top: 5px;
        padding: 30px 90px;
    }

    .txt-box-img {
        margin-bottom: 0px;
        width: 50px;
    }

    .txt-box h4 {
        font-size: 15px;
        margin-bottom: 0px;
    }

    .vs-box1 img {
        margin-bottom: 10px;
        max-width: 50px;
    }

    .txt-box p,
    .war_date p {
        margin-bottom: 0px;
        font-size: 12px;
    }

    .txt-box a,
    .war_date a {
        font-size: 12px;
        margin-top: 0px;
    }

    #vs-box1-imgs {
        flex-direction: row;
    }

    .vs-box1 h2 {
        font-size: 20px;
    }

    .banner7_part {
        grid-template-columns: none;
    }

    .banner7_part2 {
        flex-direction: column;
        gap: 3rem;
    }

    .single-content {
        width: 100%;
        height: 300px;
    }

    img#img-1 {
        width: 100%;
        height: 300px;
    }

    #single-content-4 {
        width: 100%;
        height: 300px;
    }

    #single-content-5 {
        width: 100%;
        height: 300px;
        margin-top: 50px;
    }

    div#single-content-1 {
        width: 100%;
        height: 300px;
        margin-top: 50px;
    }

    #single-content-2 {
        width: 100%;
        height: 300px;
    }

    .banner8_part {
        width: 100%;
        height: 100%;
    }

    .txt {
        grid-template-columns: none;
    }

    .banner9_part {
        width: 100%;
    }

    .banner9_part2 {
        gap: 3rem;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }

    .part1-banner9_part2 {
        width: 40%;
    }

    .banner10_parts {
        width: 100%;
        height: 100%;
        gap: 3rem;
    }

    .banner10_part {
        grid-template-columns: repeat(2, 1fr);
        justify-items: normal;
    }

    .banner10_part5 {
        grid-template-columns: none;
        justify-content: center;
    }

    #h1-h2-h3-h4 {
        padding: 0px;
        margin: 0px;
    }
}

@media only screen and (min-width:769px) and (max-width:991px) {

    header#menu,
    header#menu2 {
        animation-duration: 1s;
        width: 100%;
        height: 90px;
        box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);
        background-color: brown;
        display: flex;
        justify-content: center;
        position: fixed;
        z-index: 5;
    }

    .menu-1 {
        width: 100%;
        height: 100%;
    }

    nav.menu-2 {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;
    }

    .menu-2 a {
        display: flex;
        order: 1;
        width: 59%;
        padding-left: 30px;
    }

    .nav-items {
        text-decoration: none;
        display: flex;
        width: 15%;
        height: 250px;
        justify-content: center;
        align-items: center;
        order: 3;
        flex-direction: column;
        padding: 9px 25px;
        background: dimgrey;
        position: absolute;
        top: 100%;
        left: 0;
        gap: 2rem;
        display: none;
    }

    .nav-items2 {
        display: flex;
        order: 2;
        width: 30%;
    }

    a.btn_1 {
        width: max-content;
    }

    label.menu-btn1 {
        position: absolute;
        right: 55px;
        display: block;
    }

    .menu-btn1 i {
        display: block;
        font-size: 25px;
        color: #fff;
    }

    #click1:checked~.menu-btn1 i:before {
        content: "\f00d";
    }

    #click1:checked~.nav-items {
        left: 0px;
        display: flex;
        align-items: baseline
    }

    #click1:checked~.nav-items a {
        margin-left: 0px;
        width: 145%;
        font-size: 20px;
        letter-spacing: 1px;
    }

    .nav-items a:hover {
        background: beige;
        border-radius: 50px;
        color: brown;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn_13 {
        display: none;
    }

    .banner1_parts {
        padding-top: 20%;
        justify-items: center;
    }

    .banner1_part1 {
        width: 70%;
        height: 100%;
        padding: 0rem;
    }

    .banner3_part1 {
        width: 70%;
    }

    .banner3_part1 img {
        height: fit-content;
        width: 100%;
    }

    .banner3_part2 {
        width: 70%;
    }

    .banner3_part2 .btn_1 {
        margin-bottom: 30px;
    }

    .banner2_parts-main {
        height: fit-content;
        margin-top: 0px;
    }

    .banner2_parts {
        height: fit-content;
        flex-direction: column;
        margin-top: 30px;
    }

    .banner2_part1 {
        width: 100%;
        gap: 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .banner4_parts {
        grid-template-columns: none;
        gap: 2rem;
        justify-items: center;
        padding: 70px 0px;
    }

    .banner4_part2 {
        grid-template-columns: 1fr 1fr;
        gap: 0rem;
        justify-items: center;
        width: 100%;
    }

    .card1,
    .card2 {
        width: 80%;
    }

    .banner4_part1 {
        width: fit-content;
    }

    .banner5_part2 {
        width: 100%;
        height: fit-content;
    }

    .banner5_part {
        width: 100%;
        height: 100%;
    }

    .banner5_part2 {
        width: 550px;
        height: 280px;
        margin-bottom: 0px;
    }

    .banner5_part2::before {
        width: 100%;
        height: 100%;
    }

    .banner5_part2::after {
        width: 99%;
        height: 98%;
        background-size: cover;
    }


    .banner6_part {
        grid-template-columns: none;
        gap: 2rem;
    }

    .war_date {
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .banner6_part2 {
        width: 550px;
        height: 280px;
        margin-bottom: 0px;
    }

    .banner6_part2::before {
        width: 100%;
        height: 100%;
    }

    .banner6_part2::after {
        width: 99%;
        height: 98%;
        background-size: cover;
    }

    .txt-box {
        top: 20px;
    }

    .banner7_part {
        grid-template-columns: none;
        width: 90%;
    }

    .banner7_part2 {
        gap: 2rem;
        justify-content: center;
    }

    .single-content {
        width: 30%;
        height: 300px;
    }

    img#img-1 {
        width: 100%;
        height: 300px;
    }

    #single-content-4 {
        width: 30%;
        height: 300px;
    }

    #single-content-5 {
        width: 30%;
        height: 300px;
    }

    div#single-content-1 {
        width: 30%;
        height: 300px;
        bottom: 0px;
    }

    #single-content-2 {
        width: 30%;
        height: 300px;
        bottom: 0px;
    }

    .banner8_part {
        width: 100%;
        height: 100%;
    }

    .txt {
        grid-template-columns: none;
    }

    .banner9_part {
        width: 100%;
    }

    .banner9_part2 {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }

    .part1-banner9_part2 {
        width: 29%;
    }

    .banner10_parts {
        width: 100%;
        height: 100%;
        gap: 3rem;
    }

    .banner10_part {
        justify-items: normal;
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: center;
    }

    .banner10_part5 {
        grid-template-columns: none;
        justify-content: center;
    }

    #h1-h2-h3-h4 {
        padding: 0px;
        margin: 0px;
    }
}

@media only screen and (min-width:992px) and (max-width:1150px) {
    .banner4_part1 {
        justify-self: center;
    }

    .banner4_parts {
        grid-template-columns: repeat(1, 0fr);
        gap: 5rem;
    }

    .banner6_part {
        grid-template-columns: none;
        align-items: center;
        gap: 2rem;
        justify-content: center;
    }

    .war_date {
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .banner10_part {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}